.Weather {
  border: 1px solid gray;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f7fe;
}
.Weather h1 {
  padding: 0;
  margin: 0;
  font-size: 45px;
}
.Weather ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  opacity: 0.8;
  font-size: 16px;
}
.WeatherIcon {
  position: relative;
  top: 28px;
  margin-right: 15px;
}
.temperature {
  font-size: 55px;
  position: relative;
  bottom: -10px;
}
.units {
  font-size: 16px;
  margin-left: 4px;
  position: relative;
  top: -15px;
}
